:root {
    --bg-color: #F3F4F6;
    --layout-color: #0E0E0E;
    --primary-text-color: #131313; 
    --secondary-text-color: #ededed;
    --movie-desciption-color: #6B7280;
    --border-color: #D1D5DB;
    --button-hover: #E5E7EB;
}

[data-theme='dark'] {
    --bg-color: #1F2937;
    --layout-color: #0E0E0E;
    --primary-text-color: #969ca8; 
    --secondary-text-color: #D1D5DB;
    --movie-desciption-color: #9CA3AF;
    --border-color: #374151;
    --button-hover: #4B5563;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

